@import 'Theme/assets/styles/_variables';
.main {
  display: flex;
  justify-content: flex-start;
  height: auto;
  min-height: 100vh;
  > * {
    flex-grow: 1;
  }
  &-left {
    width: 250px;
    background: $color7;
    position: relative;
  }
  &-right {
    width: calc(100% - 250px);
    background: $color1;
    padding: 32px 36px;
    position: relative;
    &-toggle {
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      border-radius: 16px;
      width: 102px;
      height: 32px;
      outline: none;
      border: none;
      background: $color1;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      margin-bottom: 16px;
      i {
        font-size: initial;
        margin-right: 5px;
      }
      &:hover {
        background: $color2;
        cursor: pointer;
      }
    }
  }
}
