@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto/RobotoCondensed-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

// Import Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

// Import IBMPlexSans
@font-face {
  font-family: 'IBMPlexSans';
  src: url('../fonts/IBMPlexSans/IBMPlexSans-Regular.woff') format('woff'),
    url('../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter/Inter-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium.woff') format('woff'), url('../fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.woff') format('woff'), url('../fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

// import DINPro
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro/DINPro.woff') format('woff'), url('../fonts/DINPro/DINPro.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro/DINPro-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'DINPro';
  src: url('../fonts/DINPro/DINPro-Black.woff') format('woff'),
    url('../fonts/DINPro/DINPro-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}

//Import GothamPro

@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProBlack.woff') format('woff'),
    url('../fonts/GothamPro/GothamProBlack.ttf') format('truetype');
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProBlackItalic.woff') format('woff'),
    url('../fonts/GothamPro/GothamProBlackItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProBold.woff') format('woff'),
    url('../fonts/GothamPro/GothamProBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProBoldItalic.woff') format('woff'),
    url('../fonts/GothamPro/GothamProBoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProRegular.woff') format('woff'),
    url('../fonts/GothamPro/GothamProRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProItalic.woff') format('woff'),
    url('../fonts/GothamPro/GothamProItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProMedium.woff') format('woff'),
    url('../fonts/GothamPro/GothamProMedium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProMediumItalic.woff') format('woff'),
    url('../fonts/GothamPro/GothamProMediumItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProLight.woff') format('woff'),
    url('../fonts/GothamPro/GothamProLight.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro/GothamProLightItalic.woff') format('woff'),
    url('../fonts/GothamPro/GothamProLightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 300;
}
