@import '../../../theme/assets/styles/variables';
.pagination-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  div {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
  }

  &-item {
    width: 32px;
    height: 34px;
    background: none;
    border: none;
    outline: none;
    border: 1px solid $color3;
    color: $color7;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    // box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px -1px 2px rgba(0, 0, 0, 0.25);
    &:first-of-type {
      border-radius: 5px 0 0 5px;
    }
    &:last-of-type {
      border-radius: 0 5px 5px 0;
    }
    &:hover {
      cursor: pointer;
      background: $color2;
    }
    &.target {
      color: $color1;
      background: $color7;
    }
  }
}
