@import '../../../theme/assets/styles/variables';
.table {
  margin-top: 20px;
  &-headers {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    height: 36px;
    line-height: 16px;
    //  text-transform: uppercase;
    border-bottom: 1px solid $color3;
    > * {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-body {
    &-row {
      &:nth-child(even) {
        background: $color2;
      }
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      height: 40px;
      > * {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.attention {
        background: $color8;
      }
      .table-row-buttons-item {
        border: none;
        outline: none;
        background: transparent;
        height: 34px;
        width: 34px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        margin-right: 6px;
        font-size: 16px;
        &:hover {
          cursor: pointer;
          background: $color2;
        }
        &.disabled {
          border: none;
          box-shadow: none;
          &:hover {
            background: transparent;
          }
        }
      }
      .table-row-buttons {
        padding-right: 10px;
      }
    }
  }
}
