.search-panel {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  &-content {
    height: 34px;
  }
  &-children {
    height: 34px;
    button {
      min-width: 34px;
      width: 34px;
      height: 34px;
      font-size: 16px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      i {
        transform: rotate(0deg);
        transform-origin: center;

        &.anim {
          animation: rotation 1s linear;
        }
      }
    }
  }
  &-form {
    display: flex;
    justify-content: flex-start;

    &-item {
      width: 316px;
      border-radius: 4px 0 0 4px;
      height: 34px;
    }

    button {
      border-radius: 0 4px 4px 0;
      min-width: 34px;
      width: 34px;
      height: 34px;
      font-size: 16px;
    }
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
